.container {
  display: grid;
  grid-template-rows: 10vw 8vw 72vw 10vw ;
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
}

.container__feed {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
}


@media (min-width: 415px) {
  .container__feed {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
  }
 

}